.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Muli' !important;
}


.page-content p{
  text-align: left;
}

.page {
  /* Additional styles for readability, e.g., padding, margin, and background color */
  padding: 20px; /* Adjust padding as needed */
  width:100%;
}

.page-content {
  max-width: 750px;
  padding: 15px;
  padding-top: 30px;
}

.table-of-contents{
  padding: 15px;
}

.table-of-contents, .page-content{
  backdrop-filter: blur(6px);
}

pre {
  text-align: left;
}

.wp-block-image > img{
  max-width: 100%;
}